body {
	background: url(../img/bg.png);
}

/* layout */

.container {
	width: 90%;
	margin: 0 auto;
}

article section {
	width: calc(50% - 15px);
	float: left;
}

article section:first-of-type {
	margin-right: 30px;
}

img, iframe {
	max-width: 100%;
	width: 100%;
}

ul {
	padding: 0;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	float: left;
	padding-right: 15px;
}

header {
	margin: 50px auto;
}

@media (min-width: 960px)  {

	#top {
		width: 300px;
	}
	
}

@media (max-width: 768px)  {

	section img {
		width: 80%;
	}
	
	section h1 {
		text-transform: uppercase;
	}

	article section {
		width: 100%;
	}
}